#!/bin/bash

set -eufo pipefail

{{ $brews := list
  "universal-ctags"
  "direnv"
  "fzf"
  "gettext"
  "git-lfs"
  "gmp"
  "htop"
  "jq"
  "neovim"
  "pipx"
  "tree"
  "tmux"
  "uv"
  "yq"  
  "yt-dlp"
-}}

{{ $brews_cask := list
  "font-meslo-lg-nerd-font"
  "font-fira-code-nerd-font"
  "font-hack-nerd-font"
  "font-source-code-pro"
-}}

{{ .brew_command }} bundle --file=/dev/stdin <<EOT
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($brews_cask | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOT



