#!/bin/bash

set -eufo pipefail

{{ $brews := list
  "universal-ctags"
  "direnv"
  "fzf"
  "gettext"
  "git-lfs"
  "gmp"
  "htop"
  "jq"
  "neovim"
  "tree"
  "tmux"
  "yq"  
  "youtube-dl"
-}}

{{ .brew_command }} bundle --no-lock --file=/dev/stdin <<EOT
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

EOT
