#!/bin/bash

set -eufo pipefail

{{ $brews := list
  "git"
  "curl"
  "wget"
  "zsh"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOT
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

EOT
