#!/bin/bash

set -eufo pipefail

echo "test run once"

# install powerline font via git clone
git clone https://github.com/powerline/fonts.git --depth=1
# install
cd fonts
./install.sh
# clean-up a bit
cd ..
rm -rf fonts