
{{-   $brew_command := "brew" -}}
{{- $is_arm64_brew := lookPath "/opt/homebrew/bin/brew" | not | not -}}

{{- if $is_arm64_brew -}}
{{-   $brew_command = "arch -arm64 brew" -}}
{{- end -}}

{{- /* This retains the value passed with --source on chezmoi init, which is used in the ../install.sh script */ -}}
sourceDir: "{{ .chezmoi.workingTree }}"

{{/* Here we "export" the variables, so we can access them outside this file */ -}}
data:
  brew_command: {{ $brew_command }}
  fontsDir: "Library/Fonts"