#!/bin/bash

set -eufo pipefail

# required for vim packages that leverage on python
pip3 install pynvim

# handle fzf in vim (update it)

[ -d '{{ .chezmoi.homeDir }}/.vim/plugins/start/fzf/install' ] && chmod +x {{ .chezmoi.homeDir }}/.vim/plugins/start/fzf/install
{{ .chezmoi.homeDir }}/.vim/plugins/start/fzf/install