#!/bin/zsh

set -eu

## Make prezto framework available in system. 
## Normally, this should be done via git clone via chezmoi external but for some reason 
## we have not access to the repo

# remove any existing prezto framework if exists
[ -d "{{ .chezmoi.homeDir }}/.vim/bundle" ] && rm -rf "{{ .chezmoi.homeDir }}/.vim/bundle"

# copy the cached prezto version to home
mkdir -p {{ .chezmoi.homeDir }}/.vim
cp -R "{{ .chezmoi.sourceDir }}/../cached/bundle" "{{ .chezmoi.homeDir }}/.vim/bundle"
