#!/bin/bash

readonly wanted_packages=(
  apt-transport-https
  ctags
  direnv
  fzf
  gettext
  git-lfs
  htop
  jq
  neovim
  tree
  python3-neovim
  python3-pip
  software-properties-common
  tmux
  cifs-utils 
  smbclient 
  nfs-common
)
missing_packages=()

# install yq
sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq
sudo chmod +x /usr/bin/yq

# install youtube-dl
sudo wget https://yt-dl.org/downloads/latest/youtube-dl -O /usr/local/bin/youtube-dl
sudo chmod a+rx /usr/local/bin/youtube-dl

for package in "${wanted_packages[@]}"; do
  if ! command -v "${package}" >/dev/null; then
    missing_packages+=("${package}")
  fi
done

sudo apt update 2>/dev/null
if [[ ${#missing_packages[@]} -gt 0 ]]; then
  echo "Installing missing package with APT: ${missing_packages[*]}"
  sudo apt install --yes --allow-change-held-packages "${missing_packages[@]}"
fi
